$buttonColor: #AD8B60
$background-color: #0C0C0C
$textColor: #909090
$bodyTextColor: #474740


body
	background-color: white
	color: $bodyTextColor
	font-family: 'Raleway', sans-serif

// p
// 	color: $textColor
	
	
=btn
	background-color: $buttonColor
	border-radius: 3px
	margin-top: 30px		
	font-family: 'Raleway', sans-serif
	color: white

h3
	text-align: center

span.divider
	display: block
	width: 150px
	height: 2px
	background-color: $buttonColor
	margin: auto

.imgSection
	background: 
		image: url('../img/comp2.jpg')
		attachment: fixed
		size: cover
		position: center
	box-shadow: inset 0 0 0 1000px rgba(255,255,255, 0)


	.homeContent
		text-align: center
		margin-top: 210px

		h1
			font-weight: 800
			font-size: 79px
			
		.bio
			font-size: 50px
			color: $bodyTextColor
			
		.btn
			+btn()
			transition: 0.3s ease

			&:hover
				background-color: darken($buttonColor, 10%)

.aboutSection
	padding: 30px 0 50px 0
	

	.aboutContent
		margin-top: 90px


		img
			border-radius: 50%
			margin-bottom: 40px

	.rightAboutContent
		padding: 0 50px

		.detailBio
			margin-top: 30px

		.btn
			+btn()
			margin-top: 20px
			transition: 0.3s ease

			&:hover
				box-shadow: 8px 8px 16px -6px black

.workSection
	// background: 
	// 	image: url('../img/workspace7.jpg')
	// 	attachment: fixed
	// 	size: cover
	// 	position: center
	// box-shadow: inset 0 0 0 1000px rgba(255,255,255, 0.2)
	background-color: #F5F5F5
	padding: 30px 40px 50px 40px

.quoteSection
	box-shadow: inset 0 0 0 1000px rgba(173,139,96, 0.8)
	background:
		image: url('../img/comp1.jpg')
		attachment: fixed
		size: cover
	text-align: center
	padding: 90px 0 70px 0px
	color: white

	.btn
		+btn()
		border: 2px solid white
		transition: 0.3s ease

		&:hover
			background-color: darken($buttonColor, 10%)


@media (max-width: 1200px)
	.imgSection
		.homeContent
			h1
				font-size: 65px

			.bio
				font-size: 40px

@media (max-width: 560px)
	.imgSection
		.homeContent
			h1
				font-size: 55px

			.bio
				font-size: 30px

@media (max-width: 460px)
	.imgSection
		.homeContent
			h1
				font-size: 45px

			.bio
				font-size: 20px

@media (max-width: 950px)
	.quoteSection
		h1
			font-size: 30px

@media (max-width: 750px)
	.quoteSection
		h1
			font-size: 25px

// @media (max-width: 360px)
// 	.quoteSection
// 		padding-top: 30px
		

// @media (max-width: 720px)
// 	.imgSection
// 		.homeContent
// 			h1
// 				font-size: 50px

// 			.bio
// 				font-size: 30px

// @media (min-width: 320px) and (max-width: 320px)
// 	.imgSection
// 		.homeContent
// 			h1
// 				font-size: 40px

// 			.bio
// 				font-size: 20px

// @media (max-width: 720px)
// 	.imgSection
// 		.homeContent
// 			h1
// 				font-size: 50px

// 			.bio
// 				font-size: 30px

// @media (min-width: 320px)
// 	.imgSection
// 		// padding-top: 100px

// 		.homeContent
// 			h1
// 				font-size: 40px

// 			.bio
// 				font-size: 20px



