$buttonColor: #336593
$background-color: #0C0C0C
$textColor: #909090
$bodyTextColor: #474740
$footerColor: #F5F5F5
$homeButtonColor: #FFCC33


body
	font-family: 'Raleway', sans-serif
	

=btn
	background-color: transparent
	// border: 1px solid $homeButtonColor
	border-radius: 3px
	margin-top: 30px		
	font-family: 'Raleway', sans-serif
	// color: $homeButtonColor


=paraTopMargin
	margin-top: 30px

h3
	text-align: center

span.divider
	display: block
	width: 150px
	height: 2px
	background-color: $bodyTextColor
	margin: auto

span.dividerTwo
	display: block
	width: 100px
	height: 3px
	background-color: $homeButtonColor
	margin: auto
	text-align: center

.imgSection
	background: 
		image: url('../img/11.png')
		attachment: fixed
		size: cover
		position: center
	box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.8)
	color: white
	padding-top: 50px

	.logoDiv
		padding-left: 40px

	.homeContent
		text-align: center
		margin-top: 65px
		letter-spacing: 2px

		h1
			font-weight: 800
			font-size: 79px
			
		.bio
			font-size: 50px
			
		.btn
			+btn()
			border: 1px solid $homeButtonColor
			color: $homeButtonColor
			transition: 0.3s ease

			&:hover
				background-color: darken($homeButtonColor, 15%)
				color: white

.aboutSection
	padding: 30px 0 50px 0
	background-color: #FBFBFC
	

	.aboutContent
		margin-top: 90px

		.displayPic
			padding-left: 60px
			margin-top: -30px

			img
				border-radius: 50%
				// border: 5px solid $buttonColor
				margin-bottom: 40px

		.rightAboutContent
			padding: 0 50px

			.detailBio
				+paraTopMargin()

			.btn
				+btn()
				border: 2px solid $bodyTextColor
				color: $bodyTextColor
				margin-top: 20px
				transition: 0.3s ease

				&:hover
					background-color: $bodyTextColor
					color: white
					// box-shadow: 8px 8px 16px -6px black

.workSection
	padding: 30px 40px 50px 40px
	background-color: white

	.contentBorder
		border-bottom: 1px solid $bodyTextColor

	.workContent
		margin-top: 60px
		padding-bottom: 50px

		img.workImg
			margin-bottom: 40px
			margin-top: 30px
			box-shadow: 10px 10px 29px -6px black

		.detailDesc
			+paraTopMargin()

		.btn
			+btn()
			border: 2px solid $bodyTextColor
			color: $bodyTextColor
			margin-top: 20px
			transition: 0.3s ease

			&:hover
				background-color: $bodyTextColor
				color: white
				// box-shadow: 8px 8px 16px -6px black



.quoteSection
	// box-shadow: inset 0 0 0 1000px rgba(0,130,214, 0.9)
	box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.85)
	background:
		image: url('../img/quoteBackground.jpg')
		attachment: fixed
		size: cover
		// position: bottom
	text-align: center
	padding: 80px 0 70px 0px
	color: white

	.btn
		+btn()
		border: 1px solid $homeButtonColor
		color: $homeButtonColor
		// border: 2px solid white
		transition: 0.3s ease
		// border: 2px solid white

		&:hover
			background-color: darken($homeButtonColor, 15%)
			color: white

.contactSection
	background-color: darken($bodyTextColor, 15%)
	// background-color: darken($buttonColor, 20%)
	text-align: center
	color: white
	padding-top: 30px	

	.contactDivider
		margin-bottom: 50px
		background-color: $homeButtonColor

	.speechBubble
		// position: relative
		height: 170px
		width: 170px
		margin: auto
		// background-color: yellow
		

		i.icon-Speach-Bubble11
			background: 
				image: url('../img/SpeechBubble1111.png')
				size: cover
			display: block
			// position: absolute
			height: 170px
			width: 170px

			h4
				margin-top: 50px
				font-style: normal

	span.sBubbleContent
		.sBubble
			font-size: 240px
			margin: 10px 0 0 -100px
		
		.sBubbleText
			font-size: 30px
			margin: 90px 0 0 -20px
			

	h1
		font-size: 50px

	h4
		padding-bottom: 40px


footer
	background-color: darken($bodyTextColor, 20%)
	padding: 50px 0 30px 0
	text-align: center

	ul
		list-style: none
		margin-bottom: 15px

		li
			display: inline-block
			font-size: 25px
			margin-right: 25px

			a
				color: white
				transition: 0.3s ease
				cursor: pointer

				&:hover
					color: $homeButtonColor
	.footerDivider
		background-color: $homeButtonColor

	.copyright
		margin-top: 30px
		color: white



@media (max-width: 1200px)
	.imgSection
		.homeContent
			letter-spacing: 0px
			h1
				font-size: 65px

			.bio
				font-size: 40px

@media (max-width: 560px)
	.imgSection
		.homeContent
			h1
				font-size: 55px

			.bio
				font-size: 30px

@media (max-width: 460px)
	.imgSection
		.homeContent
			h1
				font-size: 45px

			.bio
				font-size: 20px

@media (max-width: 950px)
	.quoteSection
		h1
			font-size: 30px

@media (max-width: 750px)
	.quoteSection
		h1
			font-size: 25px




