body {
  background-color: white;
  color: #474740;
  font-family: "Raleway", sans-serif; }

h3 {
  text-align: center; }

span.divider {
  display: block;
  width: 150px;
  height: 2px;
  background-color: #AD8B60;
  margin: auto; }

span.dividerTwo {
  display: block;
  width: 100px;
  height: 3px;
  background-color: #AD8B60;
  margin: auto;
  text-align: center; }

.imgSection {
  background-image: url("../img/comp2.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0); }
  .imgSection .homeContent {
    text-align: center;
    margin-top: 210px; }
    .imgSection .homeContent h1 {
      font-weight: 800;
      font-size: 79px; }
    .imgSection .homeContent .bio {
      font-size: 50px;
      color: #474740; }
    .imgSection .homeContent .btn {
      background-color: #AD8B60;
      border-radius: 3px;
      margin-top: 30px;
      font-family: "Raleway", sans-serif;
      color: white;
      transition: 0.3s ease; }
      .imgSection .homeContent .btn:hover {
        background-color: #90714a; }

.aboutSection {
  padding: 30px 0 50px 0; }
  .aboutSection .aboutContent {
    margin-top: 90px; }
    .aboutSection .aboutContent img {
      border-radius: 50%;
      margin-bottom: 40px; }
  .aboutSection .rightAboutContent {
    padding: 0 50px; }
    .aboutSection .rightAboutContent .detailBio {
      margin-top: 30px; }
    .aboutSection .rightAboutContent .btn {
      background-color: #AD8B60;
      border-radius: 3px;
      margin-top: 30px;
      font-family: "Raleway", sans-serif;
      color: white;
      margin-top: 20px;
      transition: 0.3s ease; }
      .aboutSection .rightAboutContent .btn:hover {
        box-shadow: 8px 8px 16px -6px black; }

.workSection {
  background-color: #F5F5F5;
  padding: 30px 40px 50px 40px; }

.quoteSection {
  box-shadow: inset 0 0 0 1000px rgba(173, 139, 96, 0.8);
  background-image: url("../img/comp1.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 90px 0 70px 0px;
  color: white; }
  .quoteSection .btn {
    background-color: #AD8B60;
    border-radius: 3px;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
    color: white;
    border: 2px solid white;
    transition: 0.3s ease; }
    .quoteSection .btn:hover {
      background-color: #90714a; }

.contactSection {
  text-align: center;
  padding-top: 30px; }
  .contactSection i {
    margin-top: 50px;
    font-size: 220px; }
  .contactSection h1 {
    font-size: 50px; }
  .contactSection h4 {
    padding-bottom: 40px; }

footer {
  background-color: #F5F5F5;
  padding: 50px 0 30px 0;
  text-align: center; }
  footer ul {
    list-style: none;
    margin-bottom: 15px; }
    footer ul li {
      display: inline-block;
      font-size: 25px;
      margin-right: 25px; }
      footer ul li a {
        color: #474740;
        transition: 0.3s ease;
        cursor: pointer; }
        footer ul li a:hover {
          color: #AD8B60; }
  footer .copyright {
    margin-top: 30px; }

@media (max-width: 1200px) {
  .imgSection .homeContent h1 {
    font-size: 65px; }
  .imgSection .homeContent .bio {
    font-size: 40px; } }
@media (max-width: 560px) {
  .imgSection .homeContent h1 {
    font-size: 55px; }
  .imgSection .homeContent .bio {
    font-size: 30px; } }
@media (max-width: 460px) {
  .imgSection .homeContent h1 {
    font-size: 45px; }
  .imgSection .homeContent .bio {
    font-size: 20px; } }
@media (max-width: 950px) {
  .quoteSection h1 {
    font-size: 30px; } }
@media (max-width: 750px) {
  .quoteSection h1 {
    font-size: 25px; } }

/*# sourceMappingURL=style.css.map */
